%h1 Listing queries

%table
  %tr
    %th Mail Server
    %th Block List Server
    %th Status
    %th
    %th
    %th

  - @queries.each do |query|
    %tr
      %td= query.mail_server.name
      %td= query.block_list_server.name
      %td= query.query_results.collect{|x| x.code_string}.join(",")
      %td= link_to 'Show', query
      %td= link_to 'Edit', edit_query_path(query)
      %td= link_to 'Destroy', query, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Query', new_query_path
