%p#notice= notice
%h2 Query
%p
  %b Mail server:
  = link_to @query.mail_server.name, mail_server_path(@query.mail_server_id)
%p
  %b Block List Server
  = link_to @query.block_list_server.name, block_list_server_path(@query.block_list_server_id)

%h2 Results
%table.table
  %tr
    %th Status
    %th Response
    %th Time
  - @query.query_results.each do |result|
    %tr
      %td=result.code_string
      %td=result.response
      %td=result.start_time



= link_to 'Edit', edit_query_path(@query)
\|
= link_to 'Back', queries_path
